html {
    scroll-behavior: smooth;
}

body {
    position: relative; 
}

section {
    padding: 90px 0;
}

.navbar-scroll {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

#home {
    height: 100vh;
    background: linear-gradient(135deg, #6bc1ff, #b1e7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

#home .bg-light {
    background: linear-gradient(135deg, #6bc1ff, #b1e7ff);
    color: #000;
}

#home .p-5 {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-link {
    color: #555;
    transition: color 0.2s;
}

.navbar .nav-link:hover {
    color: #000;
}

.navbar .nav-link.active {
    color: #000 !important;
    font-weight: 600;
}